# PRs to main must be reviewed by @anna-carroll before merging.
# Feel free to reach out / introduce yourself
# in the PartyBid Discord #dev channel to steward your PR:
# https://discord.gg/ecFWYuJS
*       @anna-carroll
